body {
    background-color: #9aacff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h3, h5 {
    color: #2c3e50;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-bottom: 40px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-success {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
}

.alert {
    font-size: 0.95rem;
}

.form-label {
    font-weight: 500;
}

ul {
    list-style: circle;
    padding-left: 20px;
}
/* Deixar os textos da navbar em azul */
.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: #0d6efd !important;  /* azul Bootstrap */
}

/* E deixar o link ativo com um tom mais escuro */
.navbar-dark .nav-link.active {
    color: #9900ff !important;
    font-weight: 700;
}